{% include "ruleManager/navBar.html" %}

<h2 style="padding: 5px;">Create Tag</h2>
<form method="post" action="{% url 'edit_tag'%}">
    {% csrf_token %}
    <div class="form-group">
        {{form}}
    </div>
    <input type="submit" value="créer" />
</form>
{{response}}

<h2 style="padding: 5px;">Tags</h2>
<table class="table">
    <tr style="font-weight:bold;">
        <td>tag</td>
        <td>delete</td>
    </tr>
    {% for tag in tags %}
    <tr>
        <td>{{tag.tag}}</td>
        <td><a href="{% url 'delete_tag' tag.id %}">delete</a></td>
    </tr>
    {%endfor%}
</table>


