{% include "ruleManager/navBar.html" %}

Rule: {{rule.name}}

<h3>Tags</h3>
<form method="post" action="{% url 'edit_rule' rule.id%}">
{% csrf_token %}
    <div class="checkbox">
    {% for tag in tags %}
            <label><input type="checkbox" id="{{tag.id}}" name="tag" value="{{tag.id}}"
            {% for ruleTag in ruleTags %} 
            {% if tag.id == ruleTag.tag_id  %}
            checked
            {% endif %}
            {% endfor %}
            >{{tag.tag}}</label>
    {% endfor %}
    </div>
    <input type="submit" value="Add Tag">
</form>