<ul class="horizontal" style="list-style-type:none; margin:0;padding:0;overflow:hidden">
    <li style="display: inline;"><a href="{% url 'index'%}">Index</a></li>
    <li style="display: inline;"><a href="{% url 'upload_rule'%}">Upload Yara Rule</a></li>
    <li style="display: inline;"><a href="{% url 'get_rules'%}">Get Yara Rules</a></li>
    <li style="display: inline;"><a href="{% url 'edit_tag'%}">Edit Tags</a></li>
    <li style="display: inline;"><a href="/testBlob">Test Blob</a></li>
</ul>