<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav" style="width:100%%">
        <li style=""><a href="{% url 'index'%}">Index</a></li>
        <li style=""><a href="{% url 'upload_rule'%}">Upload Yara Rule</a></li>
        <li style=""><a href="{% url 'get_rules'%}">Get Yara Rules</a></li>
        <li style=""><a href="{% url 'edit_tag'%}">Edit Tags</a></li>
        <li style=""><a href="{% url 'test_file' %}">Test Blob</a></li>
    </ul>
</nav>