{% include "ruleManager/navBar.html" %}

<form method="post" action="{% url 'test_file'%}" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_ul }}

<ul style="list-style-type:none;">
    {% for tag in tags %}
        <li style="display: inline;">
            <input type="checkbox" id="{{tag.id}}" name="tag" value="{{tag.id}}">
            <label for="{{tag.tag}}"> {{tag.tag}}</label><br>
        </li>
    {% endfor %}
    </ul>

<input type="submit" value="test file" />
</form>

{{ response }}